doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Todo List
    body
        h1 Todo List
        ul
            each todo in todos
                li= todo.task