doctype html
/**
 * Renders the todo list UI. 
 * 
 * Includes the form to add new todos, lists to display completed and 
 * uncompleted todos, delete buttons per todo, and a confirmation modal when
 * deleting.
 *
 * Uses Pug templating and provided data for `tasks`.
 */
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/todo.js") 
        title Todo List
    body
        h1 Todo List

        div(class="container")
            form(action="" method="POST" id="todoForm")
                input(type="text" name="task" id="taskInput" required maxlength="50" size="50" placeholder="Enter a new task")
                button(type="submit") Add Task
            
            ul(id="uncompleted")
                p Uncompleted
                each task, index in tasks
                    if task.completed == false
                        li
                            label
                                input(type="checkbox" name="check-task" class="check-task")
                                span #{task.task}
                            button(type="button" class="del-btn") Delete
                            input(type="hidden", class="task-id" name="task-id" value=task.id)
            
            ul(id="completed")
                p Completed
                each task, index in tasks
                    if task.completed == true
                        li
                            label
                                input(type="checkbox" checked name="check-task" class="check-task")
                                span #{task.task}
                            button(type="button" class="del-btn") Delete
                            input(type="hidden", class="task-id" name="task-id" value=task.id)
            
            div(id="modal" class="modal")
                div(class="modal-content")
                    span(class="close" id="close") &times;
                    p Are you sure you want to delete this task?
                    button(type="button" id="confirmDelete") Yes, delete!